{% extends "manager/main.html" %}

{% block title %} Browse {% endblock %}

{% block real_content %}
<fieldset class="mt_rest">
<legend class="mt_name">{{ list_header }}</legend>
{% if list_to_disp %}
<table class="browse_table">
    <thead>
        <tr>
            <th>
                <a href="./?sort=id">Id</a>
            </th>
            {% if list_to_disp.0.disp_type == 'curve set' %}
            <th>
                Lock
            </th>
            {% endif %}
            <th>
                <a href="./?sort=name">Name</a>
            </th>
            {% if list_to_disp.0.disp_type == 'analysis' %}
            <th>
                <a href="./?sort=method">Method</a>
            </th>
            {% endif %}
            {% if list_to_disp.0.disp_type == 'file' %}
            <th>
                <a href="./?sort=fileName">File name</a>
            </th>
            {% endif %}
            <th>
                <a href="./?sort=analytes">Analytes</a>
            </th>
            <th>
                <a href="./?sort=date">Date</a>
            </th>
            <th>
                <a href="./?sort=owner">Owner</a>
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        {% for el in list_to_disp %}
        <tr style="cursor: pointer;" onclick="document.location.href='{{ el.getUrl }}';">
            <td>
                {{ el.id }}
            </td>
            {% if list_to_disp.0.disp_type == 'curve set' %}
            <td>
                {{ el.locked }}
            </td>
            {% endif %}
            <td>
                {{ el.name }}
            </td>
            {% if list_to_disp.0.disp_type == 'analysis' %}
            <td>
                {{ el.methodDisplayName }}
            </td>
            {% endif %}
            {% if list_to_disp.0.disp_type == 'file' %}
            <td>
                {{ el.fileName }}
            </td>
            {% endif %}
            <td>
                {% for a in el.analytes.all %} 
                {% if not forloop.first %}, {% endif %}
                {{ a.name }} 
                {% endfor %}
            </td>
            <td>
                {{ el.date | date:"c" }}
            </td>
            <td>
                {{ el.owner }}
            </td>
            <td>
                <a href="{{ el.getDelUrl }}">(delete)</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ paginator | safe }}
{% else %}
    <p>{{ when_empty | safe }}</p>
{% endif %}
</fieldset>
{% endblock %}
