{% extends "manager/main.html" %}
{% load volt_html %}

{% block title %} Browse {% endblock %}

{% block real_content %}
<fieldset class="mt_rest">
<legend class="mt_name">{{ list_header }}</legend>
<form action="{{ paginator.search_url }}" method="POST">
	{% csrf_token %}
    <input type="text" name="search" value="" />&nbsp;
    <input type="submit" name="submit" value="Search" />
</form>
{{ paginator.search_results_for | safe }}
<br />
{% if paginator.current_page_content %}
<table class="browse_table">
    <thead>
        <tr>
            <th>
                <a href="./?sort=id{{ paginator.search_append }}">Id</a>
            </th>
            {% if list_to_disp.0.disp_type == 'curve set' %}
            <th>
                &nbsp;
            </th>
            {% endif %}
            <th>
                <a href="./?sort=name{{ paginator.search_append }}">Name</a>
            </th>
            {% if list_to_disp.0.disp_type == 'file set' %}
            <th>
                <small>Files</small>
            </th>
            {% endif %}
            {% if list_to_disp.0.disp_type == 'analysis' %}
            <th>
                <a href="./?sort=method{{ paginator.search_append }}">Method</a>
            </th>
            <th>
                <a href="./?sort=curveset{{ search_append }}">Curve Set</a>
            </th>
            {% endif %}
            {% if list_to_disp.0.disp_type == 'file' %}
            <th>
                <a href="./?sort=fileName{{ paginator.search_append }}">File name</a>
            </th>
            {% endif %}
            <th>
                <a href="./?sort=analytes{{ paginator.search_append }}">Analytes</a>
            </th>
            <th>
                <a href="./?sort=date{{ paginator.search_append }}">Date</a>
            </th>
            <th>
                <a href="./?sort=owner{{ paginator.search_append }}">Owner</a>
            </th>
            <th>
                <small>Action</small>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for el in paginator.current_page_content %}
        <tr style="cursor: pointer;" onclick="document.location.href='{{ el.getUrl }}';">
            <td>
                {{ el.id }}
            </td>
            {% if list_to_disp.0.disp_type == 'curve set' %}
            <td>
                {% if el.locked %}
                {% lock %}
                {% else %}
                {% unlock %}
                {% endif %}
            </td>
            {% endif %}
            <td>
                {{ el.name }}
            </td>
            {% if el.disp_type == 'file set' %}
            <td><ul class="ul_compress">
                {% for f in el.files.all %}
                    <li>{{ f.name }}</li>
                {% endfor %}
            </ul></td>
            {% endif %}
            {% if list_to_disp.0.disp_type == 'analysis' %}
            <td>
                {{ el.methodDisplayName }}
            </td>
            <td>
                {{ el.curveSet.name }}
            </td>
            {% endif %}
            {% if list_to_disp.0.disp_type == 'file' %}
            <td>
                {{ el.fileName }}
            </td>
            {% endif %}
            <td>
            {% for a in el.analytes.all %} 
                {% if not forloop.first %}, {% endif %}
                {{ a.name }} 
            {% endfor %}
            </td>
            <td>
                {{ el.date | date:"c" }}
            </td>
            <td>
                {{ el.owner }}
            </td>
            <td>
                <a href="{{ el.getDelUrl }}">(delete)</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ paginator.paginator | safe }}
{% else %}
    <p>{{ when_empty | safe }}</p>
{% endif %}
</fieldset>
{% endblock %}
