{% extends "manager/main.html" %}

{% block title %} Browse {% endblock %}

{% block real_content %}
<h4>{{ list_header }}</h4>
{% if list_to_disp %}
<table class="browse_table">
    <thead>
        <tr>
            <th>
                <a href="./?sort=id">Id</a>
            </th>
            <th>
                <a href="./?sort=name">Name</a>
            </th>
            {% if list_to_disp.0.disp_type == 'analysis' %}
            <th>
                <a href="./?sort=method">Method</a>
            </th>
            {% endif %}
            {% if list_to_disp.0.disp_type == 'file' %}
            <th>
                <a href="./?sort=filename">File name</a>
            </th>
            {% endif %}
            <th>
                <a href="./?sort=date">Date</a>
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        {% for el in list_to_disp %}
        <tr style="cursor: pointer;" onclick="document.location.href='{{ el.getUrl }}';">
            <td>
                {{ el.id }}
            </td>
            <td>
                {{ el.name }}
            </td>
            {% if list_to_disp.0.disp_type == 'analysis' %}
            <td>
                {{ el.methodDisplayName }}
            </td>
            {% endif %}
            {% if list_to_disp.0.disp_type == 'file' %}
            <td>
                {{ el.fileName }}
            </td>
            {% endif %}
            <td>
                {{ el.date | date:"c" }}
            </td>
            <td>
                <button>Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ paginator | safe }}
{% else %}
    <p>{{ when_empty | safe }}</p>
{% endif %}
{% endblock %}
