{% extends "manager/main.html" %}

{% block title %} Create {% endblock %}

{% block head %}
<script type="text/javascript">
</script>
{% endblock %}

{% block style %}

form li {
    list-style-type: none;
}

.main_list {
  color: #fff;
  background-color: #333;
  font-size: 15px;
  padding: 7px 10px;
}

.main_list ul {
    background-color: #888;
}

.cs_list {
  color: #fff;
  background-color: #333;
  font-size: 15px;
  padding: 7px 10px;
}
.cs_list:hover {
  background-color: #000;
}
.cs_list  ul {
  background-color: #222;
  color: #EEE;
  border: 1px solid #888;
}

.curve_list {
  background-color: #333;
  font-size: 13px;
  padding: 0px !important;
}

.curve_list:hover {
  background-color: #111;
}

.invisible {
  height: 0px !important;
  overflow: hidden !important;
  padding: 0px !important;
}

.visible {
  height: auto;
  min-height: 1.7em;
}

.upsidedown {
  transform: rotate(180deg);
}
.upsideup {
  transform: rotate(0deg);
}

{% endblock %}

{% block real_content %}
    {{ formHTML|safe }}
{% endblock %}
