{% extends "manager/main.html" %}

{% block title %} Create {% endblock %}

{% block inHtmlHead %}
<script type="text/javascript">
$(function() {
  $('.EXPAND').on('click', function (e) {
    $(e.target).next('ul').children('li').toggleClass("visible invisible");
    $(e.target).toggleClass("upsidedown upsideup")
  });
  $('.parent').on('change', function(e) {
    $(e.target).parent().find('ul').find('.child').prop('checked', this.checked);
    $(e.target).parent().find('ul').find('.child').prop('disabled', this.checked);
  });
});
</script>
{% endblock %}

{% block style %}

li {
  list-style-type: none;
}
.parentLI {
  color: #fff;
  background-color: #333;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
  list-style-type: none;
}
.parentLI:hover {
  background-color: #000;
}
.topClass {
  background-color: #222;
  color: #EEE;
  border: 1px solid blue;
}
.childClass {
  background-color: #333;
  font-size: 13px;
  line-height: 30px;
  padding: 0px;
}
.childClass:hover {
  background-color: #111;
}
.invisible {
  height: 0px !important;
  overflow: hidden !important;
  padding: 0px !important;
}
.visible {
  height: auto;
}
.EXPAND {
  height: 25px;
}

.upsidedown {
  transform: rotate(180deg);
}
.upsideup {
  transform: rotate(0deg);
}

{% endblock %}

{% block real_content %}
    {{ formHTML|safe }}
{% endblock %}
