<div class="details">
    <div class="mt_name">
        Showing {{ showing.disp_type }}: {{ disp_name_edit }}
    </div>
    <div class="mt_name">
        <div class="dropdown" style="display: inline-block; width: 100%">Show details
            <div class="mt_name mt_dropdown dropdown_content">
                <ul style="margin-left: -1em; margin-top: -2px; padding-right: 1em">
                <li>Object {{ showing.disp_type }} id: {{ showing.id }}</li>
                <li>Date: {{ showing.date |date:"c" }} {{ showing.date | time }}</li>
                {% if showing.disp_type == 'file' %}
                <li>File name: {{ showing.fileName }}</li>
                <li>File date: {{ showing.fileDate | date:"c" }}</li>
                {% endif %}
                {% if showing.disp_type == 'curve set' %}
                <li>
                Uses curves from:
                    <ul>
                        {% for f in filesUsed %}
                        <li><a style="color: white" href="{% url 'showCurveFile' f.id %}">{{ f }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                Processed with:
                    <ul>
                        {% for p in showing.getProcessingHistory %}
                        <li>{{ p }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="mt_name">
        Actions:
        <button class="{{ back_to_browse_button }}" style="margin-left: 2em;">Browse {{ showing.disp_type }}</button>
        <button class="{{ make_curve_set_button }}" style="margin-left: 2em;">Make curve set</button>
        <div class="dropdown" style="display: inline-block; margin-left: 2em;"><button>More actions</button>
            <div class="mt_name mt_dropdown dropdown_content">
                <table>
                    <tr>
                        <td>
                            <button class="{{ undo_button }}">Undo</button>
                        </td>
                        <td>
                            <button class="{{ export_data_button }}">Export data</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="{{ share_button }}">Share</button>
                        </td>
                        <td>
                            <button class="{{ delete_button }}">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>