<div class="details">
    <div class="mt_name">
        Showing {{ showing.disp_type }}: {{ disp_name_edit }}
    </div>
    <div class="mt_name">
        <div class="dropdown" style="display: inline-block; width: 100%">Show details
            <div class="mt_name mt_dropdown dropdown_content">
                <ul style="margin-left: -1em; margin-top: -2px; padding-right: 1em">
                {{ showing.getHtmlDetails | safe }}
                </ul>
            </div>
        </div>
    </div>
    <div class="mt_name">
        Actions:
        <button class="{{ back_to_browse_button }}" style="margin-left: 2em;">Browse {{ showing.disp_type }}</button>
        {% if showing.disp_type == 'analysis' %}
        <button class="{{ curve_set_button }}" style="margin-left: 2em;">Goto curve set</button>
        {% else %}
        <button class="{{ curve_set_button }}" style="margin-left: 2em;">New curve set</button>
        {% endif %}
        <div class="dropdown" style="display: inline-block; margin-left: 2em;"><button>More actions</button>
            <div class="mt_name mt_dropdown dropdown_content">
                <table>
                    <tr>
                        <td>
                            <button class="{{ undo_button }}" style="margin: 0.5em;">Undo</button>
                        </td>
                        <td>
                            <button class="{{ export_data_button }}" style="margin: 0.5em;">Export data</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="{{ share_button }}" style="margin: 0.5em;">Share</button>
                        </td>
                        <td>
                            <button class="{{ delete_button }}" style="margin: 0.5em;">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>