{% extends "manager/main.html" %}

{% block title %} Edit analyte {% endblock %}

{% block style %}
#concform label { 
	float: left; 
	max-width: 400px; 
	word-wrap: break-word; 
	display: inline;
	white-space: pre-line; 
	margin-bottom: 5px;" 
}

{% endblock %}

{% block real_content %}
<fieldset class="mt_rest"><legend class="mt_name">{{ infotext }}</legend>
	<div class="analytes_table_container">
<form method="post" action="" enctype="multipart/form-data" id="concform"  autocomplete="off">
	<table>
	{% csrf_token %}
	{{ form.as_table }}
	<tr><td><input type="submit" value="Save" /></td></tr>
	</table>
</form></div>
{% endblock %}
