{% extends "manager/main.html" %}

{% block title %} Index {% endblock %}

{% block real_content %}
<fieldset class="mt_rest" style="width: 40%"><legend class="mt_name">Welcome</legend>
Welcome to the voltammetry signal processing web service!<br />
Here you can upload, store, search, process and analyze your voltammograms. At the moment the service is in alpha state, therefore, many new changes and features will arrive on regular basis. However, there is wide selection of tools available already! 
We hope you'll enjoy during your time here. Please report any errors, bugs, feature requests etc. at <a href="mailto:voltammetry.center@gmail.com">voltammetry.center@gmail.com</a> or directly to our <a href="https://github.com/efce/voltPy/issues">GitHub</a> page.
<!--
</fieldset>
Welcome to the index page!<br />
Search for CurveSets: <input onkeyup="search()" id='ss' />
<div id="curve_list"></div>
<script>
    function search() {
        txt = $('#ss').val();
        searchCurveSet(txt, addOpt);
    }
    function addOpt(data) {
        $('#curve_list').empty();
        kdata = data['result'];
        for (key in kdata) {
            $('#curve_list').append($('<a href="/manager/show-curveset/' + key + '/">id' + key + ': ' + kdata[key] + '</a> <br />'));
        }
    }
</script>-->
{% endblock %}
