<!DOCTYPE html>
<html>
<head>
  <title>
    {% block title %}
    {% endblock %}
  </title> 
  <meta charset="utf-8" />
  {% include "./js/main.inc" %}
  {{ bokeh_scripts | safe }}
  {% block head %} 
  {% endblock %}
  <style>
    {% include "./css/main.css" %}
    {% block style %} 
    {% endblock %}
  </style>
</head>

<body>

<div id="voltpy-loading" class="loading-uncover">
</div>

{% block content %}
<div id="content">
  {% block navigation %}
  <div id="topmenu">
    <ul>
    {% if user.is_authenticated %}
      <li class="topmenu_bkg"><a href="{% url 'index' %}">Index</a></li>
      <li class="topmenu_bkg"><a href="{% url 'upload' %}">Upload Files</a></li>
      <li class="topmenu_bkg"><a href="{% url 'createCurveSet' %}">Create Curve Set</a></li>
      <li class='dropdown topmenu_bkg'><span>&nbsp;Browse&nbsp;</span>
        <div class='dropdown_content topmenu_bkg'>
          <a href="{% url 'browseFileSets' %}">File Sets</a><br />
          <a href="{% url 'browseCurveFiles' %}">Files</a><br />
          <a href="{% url 'browseCurveSets' %}">Curve Sets</a><br />
          <a href="{% url 'browseAnalysis' %}">Analysis</a>
        </div>
      </li>
      <li class="topmenu_wht">Logged in as:</li><li class="topmenu_wht">{{ user }}(UserID: {{ user.id }})</li>
      <li class="topmenu_bkg"><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
      <li class="topmenu_bkg"><a href="{% url 'index' %}">Index</a></li>
      <li class="topmenu_bkg"><a href="{% url 'login' %}">Login</a></li>
      <li class="topmenu_bkg"><a href="{% url 'register' %}">Register</a></li>
    {% endif%}
    </ul>
  </div>
  {% endblock %}

  <table class="main_table">
    {% if notifications %}
    <tr>
      {% if main_plot %}
      <td colspan=2>
      {% else %}
      <td>
      {% endif %}
        <div id="notifications">
          <a class="closeX"></a>
          {% for n in notifications %}
          <p class="{{ n.severity }}">{{ n.text }}</p>
          {% endfor %}
        </div>
      </td>
    </tr>
    {% endif %}
    <tr>
      {% if main_plot %}
      <td class="align_top main_plot">
        {% include "./main_plot.html" %}
      </td>
      {% endif %}
      <td class="align_top mt_content" style="width: 50%">
        {% if showing %}
        {% include "./details.html" %}
        {% endif %}
        {% block real_content %} {% endblock %}
      </td>
    </tr>
  </table>
</div>
{% endblock %} 

{% block footer %}
{% endblock %}

</body> 
</html>
