{% load static %}
{% load volt_html %}
<!DOCTYPE html>
<html>
<head>
  <title>
    {% block title %}
    {% endblock %} || Voltammetry Center
  </title> 
  <meta charset="utf-8" />
  {% include "./js/main.inc" %}
  {{ bokeh_scripts | safe }}
  {% block head %} 
  {% endblock %}
  <style>
  {% include './css/main.css' %}
  {% block style %} 
  {% endblock %}
  </style>
  <link rel="icon" type="image/png" href="{% static 'manager/voltcenter_favico.png' %}" sizes="96x96" />
</head>

<body>
{% if not accepted_cookies %}
<div id="cookie_consent">
  This website uses only cookies which are essential for providing the service (no tracking cookies). Learn about our <a style="color: white" href="{% url 'privacyPolicy' %}">privacy policy</a>. 
  <button onclick="cookiesAccepted();">OK!</button>
</div>
{% endif %}
<noscript>
<p style="padding: 20px; background-color: red; color: white; font-size: x-large;">
  This website heavily relies on JavaScript in presentation and processing, and will not work without it. 
  Please enable JavaScript to have access to website the functions.</p>
</noscript>

{% if notifications %}
<div class="notifications_background" onclick="closeNotifications(this);">
  <div class="notifications">
    <div class="notifications_bar">Notification</div><a class="closeX" onclick="closeNotifications(this);"></a>
    <div class="notifications_content">
    {% for n in notifications %}
      <p class="{{ n.severity }}">{{ n.text }}</p>
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% block content %}
<div id="content">
  {% block navigation %}
  <nav id="topmenu">
    <ul>
      <li class="topmenu_bkg">
        <img src="{% static '/manager/vc_logo.svg' %}" style="height: {% topmenu_height_logo %}; margin: 3px 3px -2px 3px" />
      </li>
    {% if user.is_authenticated %}
      <li class="topmenu_bkg" style="margin-left: 2em"><a href="{% url 'index' %}">Index</a></li>
      <li class="topmenu_bkg"><a href="{% url 'upload' %}">Upload Files</a></li>
      <li class="topmenu_bkg"><a href="{% url 'createDataset' %}">Create Dataset</a></li>
      <li class='dropdown topmenu_bkg'><span>&nbsp;Browse&nbsp;</span>
        <div class='dropdown_content topmenu_bkg'>
          <a href="{% url 'browseFilesets' %}">Filesets</a><br />
          <a href="{% url 'browseFiles' %}">Files</a><br />
          <a href="{% url 'browseDatasets' %}">Datasets</a><br />
          <a href="{% url 'browseAnalysis' %}">Analysis</a>
        </div>
      </li>
      <li class="dropdown topmenu_wht" style="float: right; margin-right: 3px; text-decoration: underline">Logged in as: 
        {{ user }} (uid: {{ user.id }})
        <div class='dropdown_content topmenu_bkg'>
          <a href="{% url 'settings' %}">Settings</a><br />
          <a href="{% url 'sharing' %}">Sharing</a><br />
          <a href="{% url 'logout' %}">Logout</a>
        </div>
      </li>
    {% else %}
      <li class="topmenu_bkg" style="margin-left: 2em"><a href="{% url 'index' %}">Index</a></li>
      <li class="topmenu_bkg"><a href="{% url 'login' %}">Login</a></li>
      <li class="topmenu_bkg"><a href="{% url 'register' %}">Register</a></li>
    {% endif%}
    </ul>
  </nav>
 {% endblock %}
  <table class="main_table">
    <tr>
      {% if main_plot %}
      <td class="align_top main_plot" width="49%">
        {% include "./main_plot.html" %}
      </td>
      {% endif %}
      <td class="align_top mt_content" style="width: 50%">
        {% if showing %}
        {% include "./details.html" %}
        {% endif %}
        {% block real_content %} {% endblock %}
      </td>
    </tr>
  </table>
</div>
{% endblock %} 

{% if showing %}

{% load comments %}

<fieldset class="comments_list" style="text-align: left"><legend class="mt_name">Comments</legend>
{% get_comment_list for showing as comment_list %}
{% if not comment_list %}
<p>No comments</p>
{% else %}
{% for comment in comment_list %}
<div class="comment">
<span class="comment_author">{{ comment.name }}: </span><br />
<span class="comment_date">{{ comment.submit_date | date:"Y-m-d H:i"}}</span>
<pre>{{ comment.comment }}</pre>
</div>
<hr />
{% endfor %}
{% endif %}
<fieldset class="comments_list" style="text-align: left"><legend>Add Comment</legend>
{% get_comment_form for showing as com_form %}
<form action="{% comment_form_target %}" method="POST">
{% csrf_token %}
<table>
  <tr>
<td>Text: </td><td>{{ com_form.comment }}</td></tr>
</tr>
{% if user.is_temp %}
<tr><td>Name:</td><td>{{ com_form.name }}</td></tr>
<tr><td>Email:</td><td>{{ com_form.email }}</td></tr>
{% endif %}
{{ com_form.honeypot }}
{{ com_form.content_type }}
{{ com_form.object_pk }}
{{ com_form.timestamp }}
{{ com_form.security_hash }}
<input type="hidden" name="next" value="{{ showing.getUrl }}" />
<tr><td>&nbsp;</td><td><input type="submit" value="Add comment" id="id_submit" /></td></tr>
</table>
</form>
</fieldset>
</fieldset>
{% endif %}

{% block footer %}
{% endblock %}

</body> 
</html>
