        <table class="table_no_breaks" width="100%">
          <tr>
            <td class="_voltPy_bokehSize mt_content" width="100%">
                {{ main_plot | safe }}
            </td>
          </tr>
          <tr>
            <td>
              <table style="width: 100%" class="table_no_breaks">
                <tr>
                  <td colspan=2 style="display:inline-flex; width: 96%" class="mt_rest" valign="middle">
                    <div class="mt_name" style="text-align: right; height: 100%; width: 35%; float: left">On x axis:</div>
                    <div style="margin-top: -10px; float: right; width: 55%">{{ main_plot_buttons | safe }}</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </table>