        <table class="table_no_breaks" width="100%">
          <tr>
            <td class="_voltPy_bokehSize mt_content" width="100%">
                {{ main_plot | safe }}
            </td>
          </tr>
          <tr>
            <td>
              <table style="width: 100%" class="table_no_breaks">
                <tr>
                  <td class="mt_name main_plot_buttons" style="text-align: right; padding-top: 1.1em; padding-right: 4px;" valign="middle">
                    On x axis:
                  </td>
                  <td class="align_top main_plot_buttons mt_rest" valign="top">
                    {{ main_plot_buttons | safe }}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </table>