        <table class="table_no_breaks" width="100%">
          <tr>
            <td class="_voltPy_bokehSize mt_content" width="100%" height="400">
                {{ main_plot | safe }}
            </td>
          </tr>
          <tr>
            <td>
              <table style="width: 100%" class="table_no_breaks">
                <tr>
                  <td class="mt_content" style="text-align: right;">
                    On x axis:
                  </td>
                  <td class="align_top main_plot_buttons mt_content">
                    {{ main_plot_buttons | safe }}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </table>