<button type="button" style="width: 300px" onclick="toggleMethod('{{ type }}');">Select {{ type }} method</button>
<div id="{{ type }}_selected">No method selected.
</div>
<div class="last_used">
    <fieldset>
        <legend>Recently used</legend>
    {% if type == 'processing' %}
        {% for meth in user.profile.lastUsedProcessing %}
        {# Probably extremely inefficient way to check if method is compatible with the dataset #}
            {% for method in methods %}
                {% if meth.method == method.0 %}
                    {% if method.3 %}
        <button class="_disabled" type="button" onclick="">{{ meth.method_display_name }}</button><br />
                    {% else %}
        <button class="" type="button" onclick="selectMethod('{{ type }}', '{{ meth.method }}', '{{ meth.method_display_name }}', false);">{{ meth.method_display_name }}</button><br />
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% elif type == 'analysis' %}
        {% for meth in user.profile.lastUsedAnalysis %}
            {% for method in methods %}
                {% if meth.method == method.0 %}
                    {% if method.3 %}
        <button class="_disabled" type="button" onclick="">{{ meth.method_display_name }}</button><br />
                    {% else %}
        <button class="" type="button" onclick="selectMethod('{{ type }}', '{{ meth.method }}', '{{ meth.method_display_name }}', false);">{{ meth.method_display_name }}</button><br />
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </fieldset>
</div>

<div class="{{ type }}_methods float_menu invisible">
<a class="closeX"></a>
<ul class="metehod_list" style="margin-top: 30px;">
    Browsing {{ type }} methods:
    {% for method in methods %}
    <div class="method_element"{% if not method.3 %} onclick="selectMethod('{{ type }}', '{{ method.0 }}', '{{ method.1 }}');"{% endif %}>
        <div class="align_top" style="display: inline-block; width: 59%">
            <t2>{{ method.1 | safe }}</t2>
            <p>{{ method.2 | safe }}</p>
            {% if method.3 %}
            <div class="method_element_error">
            Data incompatible with this method:
            <ul>
                {% for err in method.3 %}
                    {% if err %}
                    <li>{{ err }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            </div>
            {% endif %}
        </div>
        <div style="display: inline-block; width: 40%">
            {{ method.4 | safe }}
        </div>
    </div>
    {% endfor %}
</ul>
</div>