
{% extends "manager/main.html" %}

{% block title %} Group {% endblock %}

{% block real_content %}
<fieldset class="mt_rest">
	<legend class="mt_name">Group:&nbsp;{{ group }}
    </legend>
    <fieldset class="mt_rest" style="float: left; width: 45%">
        <legend class="mt_name">Users</legend>
        <ul>
        {% for us in group.user_set.all %}
            <li>{{ us }} {% if us.id != user.id %}<button onclick="document.location.href='{% url 'removeUser' group.id us.id %}'">Remove from group</button>{% endif %}</li>
        {% endfor %}
        </ul>
        <button onclick="document.location.href='{% url 'inviteUser' group.id %}'">Invite user to group</button>
    </fieldset>
    <fieldset class="mt_rest" style="float: right; width: 45%">
        <legend class="mt_name">Shared resources</legend>
        {% for key, value in resources.items %}
            {% if value %}
                <h4 style="margin-bottom: 7px;">{{ key }}:</h4>
                <table class="browse_table">
                    <tr><th>id</th><th>name</th><th>owner</th></tr>
                {% for res in value %}
                <tr><td>{{ res.id }}</td><td>{{ res }}</td><td>{{ res.owner }}</td></tr>
                {% endfor %}
                </table>
            {% endif %}
        {% endfor %}
    </fieldset>
</fieldset>

{% endblock %}