{% extends "manager/main.html" %}

{% block title %} Curve Set {% endblock %}

{% block real_content %}
<div class="mt_name">
<a class="expandable" onclick="toggleDetails(this, '#select_analysis');">Analysis ↧</a>
	<div id="select_analysis" class="mt_rest invisible">
		<form method="post" action="" enctype="multipart/form-data">
			{% csrf_token %}
			{{ formAnalyze.draw }}
		</form>
	</div>
</div>
<div class="mt_name">
	<a class="expandable" onclick="toggleDetails(this, '#select_processing');">
		{% if showing.locked %}🔒 {% endif %}Processing ↧
	</a>
	<div id="select_processing" class="mt_rest invisible">
		{% if showing.locked %}
		Processing of this curveset is not allowed, because it was already used in
		analysis.<br /> To process the data further please create a copy of it.<br />
		<button class="_voltJS_urlChanger _voltJS_url@{{ cloneCSUrl }}"> Copy </button>
		{% else %}
		<form method="post" action="" enctype="multipart/form-data">
			{% csrf_token %}
			{{ formProcess.draw }}
		</form>
		{% endif %}
	</div>
</div>
<fieldset class="mt_rest">
	<legend class="mt_name">{% if showing.locked %}🔒 {% endif %}Curves:</legend>
	{{ at | safe }}
</fieldset>
{% endblock %}
