{% extends "manager/main.html" %}

{% block title %} Show {% endblock %}

{% block head %} 
  {{ head | safe }} 
{% endblock %}

{% block real_content %}
Analysis method: {{ analysis.method }} <br />
Analysis ID: {{ analysis.id }} <br />
<form method="post" action="#">
	{% csrf_token %}
    {{ edNameForm }}&nbsp;
    <input type="submit" name="{{ edNameFormSubmit }}" value=" Save " />
</form><br />
Date created: {{ analysis.date | date:"c" }} <br />
CurveSet used: <a href="{% url 'showCurveSet' user.id analysis.curveSet.id %}">{{ analysis.curveSet.name }}</a>
{{ text | safe }}

{% endblock %}
