{% extends "manager/main.html" %}

{% block title %} Show {% endblock %}

{% block real_content %}
<p>File ID: {{ curvefile_id }} </p>
<iframe width={{ plot_width }} height={{plot_height }} src="{% url 'generatePlot' user_id 'f' curvefile_id %}{{ user_id }}_{{ curvefile_id }}.html"></iframe>

<form method="post" action="{{ url }}" enctype="multipart/form-data">
	<table>
	{% csrf_token %}
	{{ form.as_table }}
	<tr><td><input type="submit" value="Update" /></td></tr>
	</table>
</form>

{% endblock %}
