{% extends "manager/main.html" %}

{% block title %} Show {% endblock %}

{% block head %} 
  {{ head | safe }} 
{% endblock %}

{% block real_content %}
<table class="table_no_breaks">
<tr><td>Analysis method: {{ analysis.method }} </td></tr>
<tr><td>Analysis ID: {{ analysis.id }} </td></tr>
<tr><td>{{ disp_name_edit | safe }} </td></tr>
<tr><td>Date created: {{ analysis.date | date:"c" }} </td></tr>
<tr><td>CurveSet used: <a href="{% url 'showCurveSet' analysis.curveSet.id %}">{{ analysis.curveSet.name }}</a> </td></tr>
<tr><td><button class="{{ exportData }}"> Export Data </button></td></tr>
        
</table>
{{ text | safe }}

{% endblock %}
