{% extends "manager/main.html" %}

{% block title %} Upload Files {% endblock %}

{% block real_content %}
{%if can_upload %}
<form method="post" action="./" enctype="multipart/form-data" id="file_form">
<fieldset class="mt_rest"><legend class="mt_name">Upload files</legend>
	{% csrf_token %}
	<table style="min-width: 700px">
        <tr>
            <td>
                <label for="fileset_name">Fileset name: </label><input id="fileset_name" type="text" name="fileset_name"  autocomplete="off"/><br />
            </td>
        </tr>
        <tr>
            <td>
            <input id="file_selector" type="file" name="files[]" multiple />
            </td>
        </tr>
        <tr><td>Allowed file types: {% for ft in allowedExt %} {{ ft }} {% endfor %}</td></tr>
        <tr>
            <td>
            <input id="file_sender" type="submit" value="Upload" disabled/>
            </td>
        </tr>
    </table>
</fieldset>
    <fieldset class="mt_rest"><legend class="mt_name">Selected files</legend>
        <div id="file_list" style="width: 700px;"></div>
    </fieldset>
</form>
<script>
function firstColumnChanged(fid) {
    var fieldname = 'f_' + fid + '_' + 'firstColumn';
    var fieldv = $("input[name='"+fieldname+"']:checked");
    switch (fieldv.val()){
    case 'firstIsE':
        $('#'+fieldname+'_Ep').parent('li').addClass('invisible');
        $('#'+fieldname+'_Ep').parent('li').removeClass('visible');
        $('#'+fieldname+'_Ek').parent('li').addClass('invisible');
        $('#'+fieldname+'_Ek').parent('li').removeClass('visible');
        $('#'+fieldname+'_dE').parent('li').addClass('visible');
        $('#'+fieldname+'_dE').parent('li').removeClass('invisible');
        $('#'+fieldname+'_t').parent('li').addClass('visible');
        $('#'+fieldname+'_t').parent('li').removeClass('invisible');
        break;
    case 'firstIsT':
        $('#'+fieldname+'_Ep').parent('li').addClass('visible');
        $('#'+fieldname+'_Ep').parent('li').removeClass('invisible');
        $('#'+fieldname+'_Ek').parent('li').addClass('visible');
        $('#'+fieldname+'_Ek').parent('li').removeClass('invisible');
        $('#'+fieldname+'_dE').parent('li').addClass('visible');
        $('#'+fieldname+'_dE').parent('li').removeClass('invisible');
        $('#'+fieldname+'_t').parent('li').addClass('invisible');
        $('#'+fieldname+'_t').parent('li').removeClass('visible');
        break;
    case 'firstIsI':
        $('#'+fieldname+'_Ep').parent('li').addClass('visible');
        $('#'+fieldname+'_Ep').parent('li').removeClass('invisible');
        $('#'+fieldname+'_Ek').parent('li').addClass('visible');
        $('#'+fieldname+'_Ek').parent('li').removeClass('invisible');
        $('#'+fieldname+'_dE').parent('li').addClass('visible');
        $('#'+fieldname+'_dE').parent('li').removeClass('invisible');
        $('#'+fieldname+'_t').parent('li').addClass('visible');
        $('#'+fieldname+'_t').parent('li').removeClass('invisible');
        break;
    default:
        return;
    }

}

function addDescribeFile(id) {
    var field = ''

    var fieldname = 'f_' + id + '_' + 'currentUnit';
    field += '<ul>';
    field += '<li><label for="' + fieldname +'">Current unit: </label>';
    field += '<select id="' + fieldname + '" name="' + fieldname + '">';
    field += '<option value="nA">nA</option>';
    field += '<option value="µA" selected>µA</option>';
    field += '<option value="mA">mA</option>';
    field += '<option value="A">A</option>';
    field += '</select></li>';

    fieldname = 'f_' + id + '_' + 'ignoreRows';
    field += '<li><label for="' + fieldname + '">Rows to ignore: </label>';
    field += '<input id="' + fieldname + '" type="text" name="' + fieldname + '" value="0" /></li>';

    fieldname = 'f_' + id + '_' + 'voltMethod';
    field += '<li><label for="' + fieldname + '">Select method: </label>';
    field += '<select id="' + fieldname + '" name="' + fieldname + '">';
    field += '<option value="lsv">LSV</option>';
    field += '<option value="scv">SCV</option>';
    field += '<option value="npv">NPV</option>';
    field += '<option value="dpv">DPV</option>';
    field += '<option value="swv" selected>SWV</option>';
    field += '<option value="chronoamp">Chronoamperometry</option>i</select></li>';

    fieldname = 'f_' + id + '_' + 'firstColumn';
    field += '<li><fieldset style="width:500px"><legend>First column:</legend>';
    field += '<ul style="display: block; width: 200px; float: left">';
    field += '<li style="padding-top:8px">';
    field += '<label><input onClick="firstColumnChanged('+id+');" id="'+fieldname+'E" type="radio" name="'+fieldname+'" value="firstIsE" checked>Potential</label></li>';
    field += '<li style="padding-top:8px">';
    field += '<label><input onClick="firstColumnChanged('+id+');" id="'+fieldname+'T" type="radio" name="'+fieldname+'" value="firstIsT">Time</label></li>';
    field += '<li style="padding-top:8px">';
    field += '<label><input onClick="firstColumnChanged('+id+');" id="'+fieldname+'I" type="radio" name="'+fieldname+'" value="firstIsI">Current</label></li></ul>';
    field += '<div style="display: block; width: 240px; float: right">';
    field += '<ul class="_voltJS_toShow uploadDetails">';
    field += '<li class="invisible hiddenElement"><label for="' + fieldname + '_Ep">Estart [mV]: </label>';
    field += '<input type="text" id="' + fieldname + '_Ep" name="' + fieldname + '_Ep" value="0" /></li>';
    field += '<li class="invisible hiddenElement"><label for="' + fieldname + '_Ek">Eend [mV]: </label>';
    field += '<input type="text" id="' + fieldname + '_Ek" name="' + fieldname + '_Ek" value="100" /></li>';
    field += '<li class="invisible hiddenElement"><label for="' + fieldname + '_dE">dE (SWV/DPV) or E0 (NPV) [mV]: </label>';
    field += '<input type="text" id="' + fieldname + '_dE" name="' + fieldname + '_dE" value="0" /></li>';
    field += '<li class="invisible hiddenElement"><label for="' + fieldname + '_t">Time per step [ms]: </label>';
    field += '<input type="text" id="' + fieldname + '_t" name="' + fieldname + '_t" value="10" /></li>';
    field += '</div></fieldset></li>';

    fieldname = 'f_' + id + '_' + 'isSampling';
    field += '<li><label for="' + fieldname + '">Is sampling data: </label>';
    field += '<input  onClick="toggleShow(event);" id="' + fieldname + '" type="checkbox" name="' + fieldname + '" />';
    field += '<ul class="invisible _voltJS_toShow uploadDetails">';
    field += '<li><label for="' + fieldname + '_SPP">Samples per point: </label>';
    field += '<input type="text" id="' + fieldname + '_SPP" name="' + fieldname + '_SPP" value="1" /></li>';
    field += '<li><label for="' + fieldname + '_SFreq">Sampling frequency [kHz]: </label>';
    field += '<input type="text" id="' + fieldname + '_SFreq" name="' + fieldname + '_SFreq" value="1" /></li>';
    field += '</ul></li>';

    return field;
}

function uploadmanagerProcessReply(data) {
    $('#file_list').empty();

    var isOk = data['isOk'];
    if ( !isOk ) {
        $('#file_sender').attr('disabled', true);
    } else {
        $('#file_sender').attr('disabled', false);
    }
    var errors = data['errors'];
    var needsDescribe = data['needsDescribe'];
    var files = $("#file_selector").get(0).files
    for (var i=0; i<files.length; i++) {
        var fid = 'file_' + i;
        var fname = $('<div/>').html(files[i].name).text(); // <- Strip html tags form file names
        var flen = files[i].size/1000
        var classes = "selected_file";
        if (!errors[i] == '') {
            classes += "file_error"
        }
        var toAppend = ''
        toAppend += '<fieldset id="div'+fid+'" class="' + classes + '">' + 
            '<legend>'+fname + '</legend>File size: ' + Math.ceil(flen) + ' kB';
        if (!errors[i] == '') {
            toAppend += '<br><small>'+errors[i]+'</small>';
        }
        if ( needsDescribe[i] ) {
            toAppend += addDescribeFile(i);
        }
        toAppend += '</fieldset>';
        $("#file_list").append(toAppend);
        firstColumnChanged(i);
    }
}

function uploadmanagerUploadInfo(data) {
    if ( data['command'] == 'success' ) {
        alert('Upload sucessfull, redirectirng');
        window.location.href = data['location'];
    } else {
        alert('Upload failed, please check files and try again.');
    }
}

$("#file_selector").change(function() {
    $(".selected_file").remove();
    var filelist = $("#file_selector").get(0).files;
    var filearray = [];
    for (var i = 0; i < filelist.length; i++) {
        var f = { 'name': filelist[i].name, 'size': filelist[i].size };
        filearray.push(f);
    }
    var obj = {
        'command': 'filelist',
        'filelist': JSON.stringify(filearray)
    }
    voltpy_query('{% url "ajaxUpload" %}', obj, uploadmanagerProcessReply);
});

$("form#file_form").submit(function(e) {
    e.preventDefault();
    voltpy_loading_start('Uploading, please wait ...');
    sleep(100);
    $(this).append('<input type="hidden" name="command" value="upload" />');
    var formData = new FormData(this);
    $.ajax({
        url: "{% url 'ajaxUpload' %}",
        type: 'POST',
        data: formData,
        success: function (data) {
            voltpy_loading_done();
            uploadmanagerUploadInfo(data);
        },
        cache: false,
        contentType: false,
        processData: false
    });
});
</script>
{% else %}
<p>Only fully registered users can upload files.<br />
Please go to <a href="{% url 'register' %}">registration</a> and create an account.</p>
{% endif %}
{% endblock %}
