.closeX {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
}
.closeX:hover {
  opacity: 1;
}
.closeX:before, .closeX:after {
  position: absolute;
  background-color: black;
  border-radius: 10px;
  content: 'x';
  font-weight: 900;
  color: white;
  padding: 2px 10px 4px 10px;
}
/*.closeX:before {
  transform: rotate(45deg);
}
.closeX:after {
  transform: rotate(-45deg);
}*/
