{% load colors %}
#id_honeypot {
    display: none;
}

.comments_list {
    background-color: {% color3 %};
    border: 1px {% color1 %} solid;
    border-radius: 3px;
}

.comments_title {
    font-weight: bold;
    background-color: {% color1 %};
    color: {% color1font %};
    border: 1px {% color1 %} solid;
    border-radius: 3px;
    padding: 2px 5px;
}

.comment {
    background-color: white;
    color: black;
    padding: 2px 3px;
    border-radius: 3px;
}

.comment_date {
    font-style: italic;
    font-size: x-small;
    color: {% color1 %};
}