{% load colors %}

form label { 
	max-width: 400px; 
	word-wrap: break-word; 
	display: inline;
	white-space: pre-line; 
}

form table th {
    width: 140px;
}

.form_submit {
    height: 30px;
    width: 150px;
    margin: auto;
    margin-left: 50px;
}

.form_inline {
    display: inline !important;
}
.analytes_table_container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 440px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: {% color3 %};
}
.analytes_table {
    border: 0px;
    margin-top: 0px;
    padding: 0px;
    border-spacing: 0px;
}
.analytes_table th,td {
    padding: 1px 3px;
    width: 150px;
    margin: 2px;
    text-align: left;
    border: 1px {% color2 %};
    color: {% color3font %};
    border-radius: 0px !important;
}
.analytes_table td {
    padding: 1px 5px;
    border-right: 1px {% color1 %} solid;
    border-bottom: 1px {% color1 %} solid;
}

.analytes_table th {
    background-color: {% color1 %};
    color: {% color1font %};
    border-right: 1px {% color2 %} solid;
}

.method_list {
    min-width: 300px;
}

.method_element {
    border: 1px solid {% color3 %};
    margin: 3px;
}

.method_element:hover {
    background-color: {% color2 %};
    color: {% color2font %};
    cursor: pointer;
}

.browse_table {
    border: 1px solid {% color2 %};
}
.browse_table tbody tr:hover {
    background-color:  white !important;
}

.browse_table th {
    background-color: {% color1 %};
    color: {% color1font %};
}
.browse_table th a {
    color: {% color1font %};
}
.browse_table tbody tr:nth-child(even) {
    background-color: {% color3even %};
}

#fixed_header thead, #fixed_header tbody, #fixed_header tr, #fixed_header td, #fixed_header th { 
    display: block; 
}  
#fixed_header {
    width:100%;
}
#fixed_header tbody td, #fixed_header thead th {
      width: 19.2%;
      float: left;
}
#fixed_header tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
}
#fixed_header th, #fixed_header td {
	height:40px;
}