{% load colors %}

{% include "./closeX.css" %}
{% include "./topmenu.css" %}
{% include "./notifications.css" %}
{% include "./forms.css" %}
{% load static %}

@font-face {
    font-family: regular;
    src: url({% static 'manager/OpenSans-Regular.ttf' %});
    font-weight: 400;
}

body {
    background-color: #EEE;
    font-family: regular;
    min-width: 820px;
}

a {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: blue;
}

.main_table {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 2px;
    width: 98%;
}

.main_table td {
    border-radius: 6px;
}

.main_table .mt_content{
    background-color: white;
    padding: 10px;
    margin: 5px;
}

.mt_name {
    background-color: {% color1 %};
    padding: 4px 10px;
    color: {% color1font %};
    font-weight: bold;
    margin: 3px;
    border-radius: 3px;
    border: 1px #AAF solid;
    display: block;
}

.mt_rest {
    background-color: {% color3 %};
    padding: 10px;
    color: {% color3font %};
    font-weight: normal;
    margin: 3px;
    border-radius: 3px;
    border: 1px {% color1 %} solid;
}

.main_plot_buttons {
    height: 50px;
    vertical-align: center;
    padding: 0px;
}

.hidden_element {
    margin: 2px;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

.float_menu {
    background-color: {% color1 %};
    color: {% color1font %};
    padding: 5px;
    min-width: 500px;
    max-height: 800px;
    overflow: auto;
    z-index: 1000;
    position: fixed;
    top: 100px;
    right: auto;
    border: {% color3 %} 2px solid;
}

.loading_cover {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: large;
  z-index: 999;
  background-color: white;
  color: black;
  display: block;
  text-align: center;
  opacity: 0.9;
}

.table_no_breaks {
    padding: 0;
    margin: 0;
    border: 0px;
    border-spacing: 0px;
    border-collapse: collapse !important;
}

.table_no_breaks tr,td {
    padding: 0;
    margin: 0;
    border: 0px;
    border-collapse: collapse !important;
    border-spacing: 0px;
}

.file_error {
    color: red;
}

.align_top {
    vertical-align: top;
}

button, input[type="submit"] {
    padding: 2px 1em;
    height: 2em;
    margin: 3px 5px;
}

.expandable {
    color: {% color1font %};
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.expandable:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.selected_method {
    color: {% color1font %};
    background-color: {% color1 %};
    padding: 1px 6px;
    font-weight: bold;
}

.analysis_methods, .processing_methods {
    width: 60%;
    height: 70%;
}

.ul_compress {
    margin: 0px 1.5em;
    padding: 0px;
}

.css_search {
    padding: 0px;
    margin: 5px 3px;
    display: block-inline;
}

#cookie_consent {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: {% color2 %};
    color: {% color2font %};
    padding: 10px;
}