{% extends "manager/main.html" %}

{% block title %} Voltammetry Analysis {% endblock %}

{% block real_content %}
<fieldset class="mt_rest">
	<h2>Data analysis in voltammetry</h2>
	<h4>Signal features</h4>
	<p>peak height, area, inflation point, peak potential, peak half-width, etc...</p>
	<h3>Analyte concentration</h3>
	<p>...</p>
	<h4>Standard addition</h4>
	<p>...</p>
	<h4>Calibration</h4>
	<p>...</p>
	<h4>Sample addition</h4>
	<p>...</p>
	<h3>Diffusion rate</h3>
	<p>...</p>
	<h3>Charge transfer rate</h3>
	<p>...</p>
	<h3>Corrosion potential</h3>
	<p>...</p>
	<h3>Corrosion current</h3>
	<p>...</p>
</fieldset>
{% endblock %}